---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/top100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 24 Oct 2014 05:46:42 GMT
    body:
      encoding: UTF-8
      string: "{\"requested_at\":\"2014-10-24T05:46:41Z\",\"responded_at\":\"2014-10-24T05:46:42Z\",\"content\":{\"players\":[{\"archives_url\":\"http://metakgs.org/api/archives/bagaller\",\"name\":\"bagaller\",\"position\":1,\"rank\":\"9d\"},{\"archives_url\":\"http://metakgs.org/api/archives/mm\",\"name\":\"mm\",\"position\":2,\"rank\":\"9d\"},{\"archives_url\":\"http://metakgs.org/api/archives/gowithwi\",\"name\":\"gowithwi\",\"position\":3,\"rank\":\"9d\"},{\"archives_url\":\"http://metakgs.org/api/archives/MilanMilan\",\"name\":\"MilanMilan\",\"position\":4,\"rank\":\"9d\"},{\"archives_url\":\"http://metakgs.org/api/archives/Oscar\",\"name\":\"Oscar\",\"position\":5,\"rank\":\"9d\"},{\"archives_url\":\"http://metakgs.org[...]
