---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/tournament/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Oct 2014 02:40:35 GMT
    body:
      encoding: UTF-8
      string: "{\"requested_at\":\"2014-10-07T02:40:35Z\",\"responded_at\":\"2014-10-07T02:40:35Z\",\"content\":{\"notes\":\"Winner:
        mrbeak\",\"name\":\"September Tournament, American/European daytime, 4k Division\",\"rounds\":[{\"url\":\"http://metakgs.org/api/tournament/123/round/1\",\"round\":1,\"end_at\":\"2005-09-24T19:00Z\",\"start_at\":\"2005-09-24T17:00Z\"},{\"url\":\"http://metakgs.org/api/tournament/123/round/2\",\"round\":2,\"end_at\":\"2005-09-24T21:00Z\",\"start_at\":\"2005-09-24T19:00Z\"},{\"url\":\"http://metakgs.org/api/tournament/123/round/3\",\"round\":3,\"end_at\":\"2005-09-25T19:00Z\",\"start_at\":\"2005-09-25T17:00Z\"},{\"url\":\"http://metakgs.org/api/tournament/123/round/4\",\"round\":4,\"end_at\":\"2005-09-25T21:00Z\",\"start_at\":\"2005-09-25T19:00Z\"}],\"id\":123,\"entrants_url\":\"http://metakgs.org/api/tournament/123/entrants\",\"description\":\"Welcome
        to the September tournament! It's been a long time since we had a tournament
        with slow time controls, so this one will have about two hours per round.
        Enjoy!\\n\\n## Sponsor\\n\\nSponsored by [KGS Plus](http://www.gokgs.com/kgsPlus.xhtml)
        and [Kiseido Publishing](http://www.kiseido.com/).\\n\\n## Rules\\n\\nSwiss
        style, Simultaneous Schedule.\\n\\n## Prizes\\n\\n1. The winner gets 1 month
        of free [KGS Plus](http://www.gokgs.com/kgsPlus.xhtml) and a $15 gift certificate
        from [Kiseido](http://www.kiseido.com/)\\n2. Any undefeated players get 1
        month of free [KGS Plus](http://www.gokgs.com/kgsPlus.xhtml)\\n3. Anybody
        who plays in all four rounds gets 1 week of free [KGS Plus](http://www.gokgs.com/kgsPlus.xhtml)\"},\"request_url\":\"http://www.gokgs.com/tournInfo.jsp?id=123\",\"message\":\"OK\"}"
  recorded_at: Fri, 24 Oct 2014 10:09:43 GMT
recorded_with: VCR 2.9.3
