---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/tournaments/2014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 24 Oct 2014 05:51:28 GMT
    body:
      encoding: UTF-8
      string: "{\"link\":{\"next\":null,\"first\":\"http://metakgs.org/api/tournaments/2001\",\"prev\":\"http://metakgs.org/api/tournaments/2013\",\"last\":\"http://metakgs.org/api/tournaments\"},\"requested_at\":\"2014-10-24T05:51:28Z\",\"responded_at\":\"2014-10-24T05:51:28Z\",\"content\":{\"tournaments\":[{\"notes\":\"Not
        started yet\",\"url\":\"http://metakgs.org/api/tournament/927\",\"name\":\"October
        KGS\\u002b Tournament, American Daytime Open division\",\"id\":927},{\"notes\":\"Not
        started yet\",\"url\":\"http://metakgs.org/api/tournament/926\",\"name\":\"October
        KGS\\u002b Tournament, American Daytime 2k and under Handicap division\",\"id\":926},{\"notes\":\"Not
        started yet\",\"url\":\"http://metakgs.org/api/tournament/925\",\"name\":\"October
        KGS\\u002b Tournament, Asian/European Daytime Open division\",\"id\":925},{\"notes\":\"Not
        started yet\",\"url\":\"http://metakgs.org/api/tournament/924\",\"name\":\"Octo[...]
