---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/tournament/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"requested_at\":\"2014-10-24T16:19:12Z\",\"responded_at\":\"2014-10-24T16:19:12Z\",\"content\":null,\"request_url\":\"http://www.gokgs.com/tournInfo.jsp?id=12345\",\"message\":\"Not
        Found\"}"
  recorded_at: Fri, 24 Oct 2014 12:56:09 GMT
recorded_with: VCR 2.9.3
