---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/tournament/123/round/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Oct 2014 02:53:34 GMT
    body:
      encoding: UTF-8
      string: "{\"link\":{\"next\":\"http://metakgs.org/api/tournament/123/round/2\",\"first\":\"http://metakgs.org/api/tournament/123/round/1\",\"prev\":null,\"last\":\"http://metakgs.org/api/tournament/123/round/4\"},\"requested_at\":\"2014-10-07T02:53:34Z\",\"responded_at\":\"2014-10-07T02:53:34Z\",\"content\":{\"games\":[{\"sgf_url\":\"http://files.gokgs.com/games/2005/9/24/simbad-flavien.sgf\",\"white\":{\"archives_url\":\"http://metakgs.org/api/archives/simbad\",\"name\":\"simbad\",\"rank\":\"19k\"},\"board_size\":19,\"black\":{\"archives_url\":\"http://metakgs.org/api/archives/flavien\",\"name\":\"flavien\",\"rank\":\"23k\"},\"start_at\":\"2005-09-24T17:00Z\"},{\"sgf_url\":\"http://files.gokgs.com/games/2005/9/24/thesee-AxelJ.sgf\",\"white\":{\"archives_url\":\"http://metakgs.org/api/archives/thesee\",\"name\":\"thesee\",\"rank\":\"18k\"},\"board_size\":19,\"black\":{\"archives_url\":\"http://metakgs.org/api/archives/AxelJ\",\"name\":\"AxelJ\",\"rank\":\"18k\"},\"start_at\":\"2005-09-24T17:00Z\"},{\"sgf_url\":\"http://files.gokgs.com/games/2005/9/24/mrbeak-Darkmoore.sgf\",\"white\":{\"archives_url\":\"http://metakgs.org/api/arch[...]
