---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/archives/anazawa/2005/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\"requested_at\":\"2014-10-24T16:05:59Z\",\"responded_at\":\"2014-10-24T16:05:59Z\",\"content\":null,\"request_url\":\"http://www.gokgs.com/gameArchives.jsp?user=anazawa&year=2005&month=10&oldAccounts=y\",\"message\":\"Not
        Found\"}"
  recorded_at: Fri, 24 Oct 2014 12:56:08 GMT
recorded_with: VCR 2.9.3
