---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/archives/anazawa/2014/10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 24 Oct 2014 05:34:12 GMT
    body:
      encoding: UTF-8
      string: "{\"link\":{\"next\":null,\"first\":\"http://metakgs.org/api/archives/anazawa/2008/2\",\"prev\":\"http://metakgs.org/api/archives/anazawa/2014/9\",\"last\":\"http://metakgs.org/api/archives/anazawa\"},\"requested_at\":\"2014-10-24T05:34:11Z\",\"responded_at\":\"2014-10-24T05:34:12Z\",\"content\":{\"tgz_url\":\"http://www.gokgs.com/servlet/archives/en_US/anazawa-all-2014-10.tar.gz\",\"zip_url\":\"http://www.gokgs.com/servlet/archives/en_US/anazawa-all-2014-10.zip\",\"games\":[{\"owner\":null,\"board_size\":19,\"sgf_url\":\"http://files.gokgs.com/games/2014/10/10/anazawa-kawai1927.sgf\",\"white\":[{\"archives_url\":\"http://metakgs.org/api/archives/anazawa\",\"name\":\"anazawa\",\"rank\":\"1d\"}],\"black\":[{\"archives_url\":\"http://metakgs.org/api/archives/kawai1927\",\"name\":\"kawai1927\",\"rank\":\"1d\"}],\"started_at\":\"2014-10-10T04:47Z\",\"type\":\"Ranked\",\"handicap\":null,\"result\":\"B\\u002b5.5\"},{\"owner\":null,\"board_size\":19,\"sgf_url\":\"http://files.gokgs.com/games/2014/10/10/sdc1302-anazawa.sgf\",\"white\":[{\"archives_url\":\"http://metakgs.org/api/archives/sdc1302\",\"name\":\"sdc1302\",\"rank\":\"1d\"}],\"black\":[{\"archives_url\":\"http://metakgs.org/api/archives/anazawa\",\"name\":\"anazawa\",\"rank\":\"1d\"}],\"started_at\":\"2014-10-10T03:54Z\",\"type\":\"Ranked\",\"handicap\":null,\"result\":\"W\\u002bResign\"},{\"owner\":null,\"board_size\":19,\"sgf_url[...]
