---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/tournaments/2005
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 24 Oct 2014 16:27:24 GMT
    body:
      encoding: UTF-8
      string: "{\"link\":{\"next\":\"http://metakgs.org/api/tournaments/2006\",\"first\":\"http://metakgs.org/api/tournaments/2001\",\"prev\":\"http://metakgs.org/api/tournaments/2004\",\"last\":\"http://metakgs.org/api/tournaments\"},\"requested_at\":\"2014-10-24T16:27:24Z\",\"responded_at\":\"2014-10-24T16:27:24Z\",\"content\":{\"tournaments\":[{\"notes\":\"Winner:
        jerokfor\",\"url\":\"http://metakgs.org/api/tournament/139\",\"name\":\"December
        Tournament, American/European Daytime Open Division\",\"id\":139},{\"notes\":\"Winner:
        youcanfly\",\"url\":\"http://metakgs.org/api/tournament/138\",\"name\":\"December
        Tournament, American/European Daytime Kyu Division\",\"id\":138},{\"notes\":\"Winner:
        aoshi88\",\"url\":\"http://metakgs.org/api/tournament/140\",\"name\":\"December
        Tournament, Asian Daytime Kyu Division\",\"id\":140},{\"notes\":\"Winner:
        fab\",\"url\":\"http://metakgs.org/api/tournament/141\",\"name\":\"December
        Tournament, Asian Daytime Op[...]
