---
http_interactions:
- request:
    method: get
    uri: http://metakgs.org/api/tournament/123/entrants
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 07 Oct 2014 02:45:38 GMT
    body:
      encoding: UTF-8
      string: "{\"requested_at\":\"2014-10-07T02:45:36Z\",\"responded_at\":\"2014-10-07T02:45:38Z\",\"content\":{\"entrants\":[{\"name\":\"mrbeak\",\"position\":1,\"score\":4,\"sodos\":7,\"archives_url\":\"http://metakgs.org/api/archives/mrbeak\",\"sos\":7,\"notes\":\"Winner\",\"rank\":\"17k\"},{\"name\":\"JeonJi\",\"position\":2,\"score\":3,\"sodos\":6.5,\"archives_url\":\"http://metakgs.org/api/archives/JeonJi\",\"sos\":9.5,\"notes\":\"\",\"rank\":\"5k\"},{\"name\":\"ssmfung\",\"position\":2,\"score\":3,\"sodos\":6.5,\"archives_url\":\"http://metakgs.org/api/archives/ssmfung\",\"sos\":9.5,\"notes\":\"\",\"rank\":\"10k\"},{\"name\":\"vacation\",\"position\":2,\"score\":3,\"sodos\":6.5,\"archives_url\":\"http://metakgs.org/api/archives/vacation\",\"sos\":9.5,\"notes\":\"\",\"r[...]
